/* Large Laptop */
@media (max-width:1200px){}

/* Laptop */
@media (max-width:992px){}

/* Tablet */
@media (max-width:768px){}

/* Mobile */
@media (max-width:576px){}

/*==========================================
        HERO RESPONSIVE
==========================================*/

/* Laptop */

@media (max-width:1200px){

.hero h1{

font-size:3.8rem;

}

.hero p{

font-size:1.05rem;

}

}

/* Tablet */

@media (max-width:992px){

.hero{

min-height:90vh;

padding:100px 30px;

}

.hero-content{

max-width:700px;

}

.hero h1{

font-size:3rem;

line-height:1.3;

}

.hero p{

font-size:1rem;

line-height:1.8;

}

.hero-prev,
.hero-next{

width:48px;

height:48px;

font-size:20px;

}

}

/* Mobile */

@media (max-width:768px){

.hero{

min-height:85vh;

padding:80px 20px;

}

.hero-content{

padding:0 10px;

}

.hero-tag{

font-size:.8rem;

padding:10px 20px;

}

.hero h1{

font-size:2.3rem;

}

.hero h1 span{

display:block;

}

.hero p{

font-size:.95rem;

margin-bottom:30px;

}

.hero-buttons{

flex-direction:column;

align-items:center;

gap:15px;

}

.hero-buttons a{

width:230px;

}

.hero-prev,
.hero-next{

display:none;

}

.hero{

animation:none;

}

}

/* Small Mobile */

@media (max-width:480px){

.hero{

min-height:80vh;

padding:70px 15px;

}

.hero h1{

font-size:1.9rem;

}

.hero p{

font-size:.9rem;

line-height:1.7;

}

.hero-buttons a{

width:100%;

max-width:230px;

}

.hero-dots{

bottom:20px;

}

}